@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.loader{
    height: 4px;
    background-color: white;
    animation: loader 0.7s ease-in 0.1s 1 ;
}
.nav1{
    display: flex;
}
#header{
    display:flex;
    background-color:white ;
    height: 7vw;
}
li{
    list-style: none;
    padding: 1.4vw;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height:5vw ;
    padding-left: 1vw;
}
.div2{
    display: flex;
    align-items: center;
}
li  a{
text-decoration: none;
color: #7f34be;
font-size: 1.3999vw;;
}
.findjob{
    background-color: #642bff;
    height: 0vw;
    display: flex;
align-items: center;
border-radius: 4px;
  
}
.Hirenow{
    background-color: #642bff;;
    height: 0vw;
    display: flex;
align-items: center;
border-radius: 4px;
    
}
.Hirenow div{
    color: white;
}
.findjob div{
    color: white;
}
.Hirenow:hover{
    background-color:#7d53ef;
}
.findjob:hover{
    background-color: #7d53ef;
}
li a:hover{
  color: #59d8da;

}
@keyframes loader{
    0%{
        background-color: darkblue;
        width: 0vw;
    }
    25%{
        background-color: darkblue;
        width: 25vw;
    }
    50%{
        background-color: darkblue;
        width: 50vw;
    }
    75%{
        background-color: darkblue;
        width: 75vw;
    }
    100%{
        background-color: darkblue;
        width: 100vw;
    }
}
.login{
    padding: 0 0 0 11vw;
}
.login div{
    text-align: center;
    background-color: #642bff;
    width: 4.5vw;
    height: 2vw;
    color: white;
    border-radius: 4px;
    

}
.login div:hover{
    background-color: #7d53ef;
}
.bigbox{
    padding: 2vh;
}
.search{
    padding: 2vh;
    /*border: 2px solid lightblue;*/
    border:3px solid #9b8dff;
    margin: 1vw;
    border-radius: 8px;
    padding-top: 0vh;

}
.h1{
    height: 4vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.h1 div{
font-size: 3.2vh;
}
.selectprof{
    display: inline-block   ;
}
.box1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#workersprofession{
    width: 35vw ;
    font-size: 2.15vh;
}
#Workerslocation{
    width: 35vw;
    font-size: 2.15vh;
}
.selectp{
font-style: italic;
    font-size: 2.56vh;
}
.location{
font-style: italic;
    font-size: 2.56vh;
}
.searchbut{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbut button{
    width: 5.3vw;
    padding: 5px;
    font-size: 2.56vh;
    background-color: #642bff;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
}
.styleheight{
    height: 7vw;
}
footer {
    height: 5vh;
    background-color:#6c5bedd4;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color:white;
    font-size: 2.56vh;
    font-family: 'Lato', sans-serif
}

.job{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h{
    width: 25vw;
    height: 16vw;
    border-radius:5px;
}
.s{
    width: 25vw;
    height: 16vw;
    border-radius:5px;
}
.h p{
    padding: 1vw;
    font-size: 1.2vw;
    color:white;
    font-family: 'Lato', sans-serif
}
.s p{
    padding: 1vw;
    font-size: 1.2vw;
    color:white;
    font-family: 'Lato', sans-serif
}
.hbut{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5806;
    width: 10vw;
    height: 2.5vw;
    border-radius: 4px;
    margin-left: 8vw;
  margin-top: -1.7vw;
}
.hbut:hover{
    background-color: #7d53ef;
}
.sbut:hover{
    background-color: #7d53ef;
}
.hbut a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}
.sbut{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #642bff;
    width: 10vw;
    height: 2.5vw;
    border-radius: 4px;
    margin-left: 8vw;
  margin-top: -1.7vw;
} 
.sbut a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
}