@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
   font-family: 'Lato', sans-serif;

}
header{
    position: fixed;
    top: 2px;
    left: 0;
    right: 0;
    z-index: 1000;
}
footer{
    left: 0;
    right: 0;
    bottom: 0;
    position:fixed;
}