<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
{% extends "nav.html" %}

{% block title %}
    <title>About Us|| WorkforU website</title>
{% endblock %}
<style>
    *{
    font-family: 'Lato', sans-serif;
    }
</style>
{% block content %}
    <main>
<h6 class="tophead">About Us</h6>
<div class="flex1">
<div class="box1"><img src="static/Aesthetic.jpg" alt=""></div>
<div class="p1" style="padding-top: 8vh;">
    <h6 style="color: rgb(103, 5, 145); font-size: 1.6vw;">Welcome to WorkForYou</h6>
    <p>Your Trusted Source for Connecting with Skilled Domestic Workers</p>

    <p>At WorkForYou, we understand the importance of having reliable and skilled professionals to handle essential domestic tasks.
        Whether you need a plumber to fix that leaky faucet, an electrician to sort out electrical issues, or a gardener to transform your outdoor space into a green paradise, we're here to make it easier for you to find the right person for the job. </p>
    
</div>
</div>
<div class="horizontalline"> <div class="line"></div></div>
<div class="flex2">
<div class="p2">
    <p style="color: rgb(103, 5, 145); font-size: 1.6vw;">What Makes WorkForYou Stand Out?</p>
    <p>A Vast Network of Trusted Workers*: We've meticulously vetted and onboarded a diverse range of domestic workers, each with their unique skills and experience. When you use WorkForU, you gain access to a network of professionals who are passionate about their craft and dedicated to delivering top-notch service.</p>
    <p>Easy-to-Use Platform*: We've designed our platform with user-friendliness in mind. Finding the right worker for your specific job is as easy as a few clicks. </p>
</div>
<div class="p3">
    <p>Customer-Centric Approach*: Your satisfaction is our top priority. We go the extra mile to ensure your experience with WorkForU is hassle-free and enjoyable. If you ever encounter any issues or have questions, our support team is just a message away.</p>
    <p>Secure Transactions*: We understand the importance of financial security. That's why we've implemented robust payment processing and verification systems to safeguard your transactions.</p>

</div>
</div>
<section class="sec">
    <div class="b1">
        <h6 style="color: rgb(103, 5, 145); font-size: 1.6vw;">Our Vision</h6><br>
        <p>At WorkForU, we envision a world where every household enjoys the peace of mind that comes from having access to a vast network of trusted, skilled, and reliable domestic workers.</p>
    </div>
    <div class="b2">
        <h6 style="color: rgb(103, 5, 145); font-size: 1.6vw;">Our Mission</h6>
        <br>
        <p>At WorkForU, our mission is to transform the way you connect with domestic workers by offering a trusted and convenient platform that empowers you to take control of your home improvement and maintenance needs.</p>
    </div>
</section>
    </main>

{% endblock %}
