
{% extends "nav.html" %}

{% block title %}
    <title>Work for You|World's 1st portal for all Job seekers</title>
{% endblock %}
{% block style %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <main style="background-image:url('../static/website background_img.jpg');height:130vh;background-size:contain;background-repeat:no-repeat;">
        <div class="space" style="height: 11vw;"></div>
        <div class="bigbox">
    <div class="job">
        <div class="h" style="background-color: #fe995b">
            <p>Find the perfect professional for your job at WorkForYou. Our platform connects you with skilled workers ready to meet your needs, making it easier than ever to get things done. Don't wait, hire the best today!</p>
            <div class="hbut"><a href="{{url_for('wnearu', username=username) }}">Hire</a></div>
        </div>
        <div class="s" style="background-color: #6c93ef;">
          <p>Looking for the right job opportunity? WorkForYou is your gateway to countless job possibilities. Explore a wide range of job listings and connect with employers who value your skills and dedication. Your dream job is just a click away!</p>
           <div class="sbut" ><a href="{{url_for('wnearu', username=username) }}">Seek Job</a></div>
        </div>
    </div>
</div>

        <div style="background-color:white;height:1vw;margin-top:9vw;"></div>
        <div style="font-size: 7vh;padding: 18vh;color: white;font-family: 'Edu TAS Beginner', cursive; margin-left: 4vh;  padding-top: 8vh;">"Work gives you meaning and purpose and life is empty without it"</div>
    </main>

{% endblock %}