{% extends "nav.html" %}

{% block title %}
    <title>Work for You|World's 1st portal for all Job seekers</title>
{% endblock %}


{% block content %}
    <div class="styleheight"></div>
    <main>
        <div class="bigbox">
    <div class="job">
        <div class="h">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ratione dolore sequi, vel dicta autem officiis itaque nobis voluptatum magni dolores nemo aliquid illum nam accusantium, doloribus impedit aliquam id.</p>
            <div class="hbut"><a href="hire.html">Hire</a></div>
        </div>
        <div class="s">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, placeat amet vero nobis, consequuntur repudiandae sunt iste temporibus quaerat voluptate quas dicta soluta tempora quo porro voluptates magni nisi facere?</p>
           <div class="sbut" ><a href="sform.html">Seek Job</a></div>
        </div>
    </div>
</div>
    </main>
    <footer>
        <p>2023 &copy; W4U All rights reserved</p>
    </footer>
{% endblock %}