<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigation bar</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/fav3.png" type="image/x-icon">
</head>
<body>
    <header id="header">
        
        <nav class="nav1">
        <div class="logo"><img src="img/logo2.png" alt=""></div>
        <div class="div2">
           
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Candidate</a>   </li>
                <li><a href="Companies.html">Companies</a></li>
                <li><a href="WnearU.html">Workers near you</a></li>
                <li class="findjob"><a href="#"><div >Find a job</div></a></li>
                <li></li>
                <li class="Hirenow"><a href="#"><div >Hire Now</div></a></li>
                <li class="login"><a href="login.html"><div>Login</div></a></li>
            </div>
            </nav>
    </header>
    <div class="styleheight"></div>
</body>

</html>