<!DOCTYPE html>
<html>
<head>
    <title>Worker's Profile</title>
    <meta charset="UTF-8">
    <style>
        .center-box {
            margin: 0 auto;
            width: 50%;
            padding: 10px;
            border: 1px solid #000000;
        }
        h1 {
            color: rgb(174, 16, 222);
        }
        button {
  background-color: #b70eff;
  color: white;
  border: none;
  padding: 10px;
}
    </style>
</head>
<body>
    <div class="center-box">
        <h1>Your Profile</h1>

        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" disabled>
        </div>
        <br>

        <div>
            <label for="profession">Profession: </label>
            <input type="text" id="profession" name="profession" disabled>
        </div>
        <br>

        <div>
            <label for="city">City: </label>
            <input type="text" id="city" name="city" disabled>
        </div>
        <br>

        <button id="edit-button">Edit Profile</button>
        <button type="submit" id="save-button" disabled>Save Changes</button>
    </div>

    <script>
        const editButton = document.getElementById('edit-button');
        const saveButton = document.getElementById('save-button');
        const nameInput = document.getElementById('name');
        const professionInput = document.getElementById('profession');
        const cityInput = document.getElementById('city');

        editButton.addEventListener('click', () => {
            nameInput.removeAttribute('disabled');
            professionInput.removeAttribute('disabled');
            cityInput.removeAttribute('disabled');
            saveButton.removeAttribute('disabled');
        });
    </script>
</body>
</html>
